.item-list {
  ul {
    padding: 20px;
    width: 100%;
    li {
      padding: 5px;
      width: 50%;
      float: left;
      div {
        padding: 5px;
        border: 1px solid #d9d9d9;
        dl {
          padding-bottom: 10px;
          dt {
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
          }
          dd {
            font-weight: bold;
          }
        }
        p {
          padding-bottom: 10px;
          img {
            width: 100%;
          }
        }
        button {
          width: 100%;
          height: 42px;
          line-height: 40px;
          font-size: 18px;
          font-weight: bold;
          border: 1px solid #d9d9d9;
          color: #233549;
        }
      }
    }
  }
}